POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db_name
SECRET_KEY="CHANGE_THIS_TO_SUPER_SECRET_KEY"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
HASHIDS_SALT=example_salt
HASHIDS_MIN_LENGTH=8
LOG_LEVEL=INFO
LOG_DIR=logs
SQL_ECHO=false
PARSE_INTERVAL_SECONDS=3600
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0